body{
  /* font-family: 'Source Sans Pro', sans-serif; */
  letter-spacing: 2px;
}

label.cabinet{
	display: block;
	cursor: pointer;
}

label.cabinet input.file{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top:-30px;
}
#upload-demo{
	width: 400px;
  height: 400px;
  padding-right: 14px;
  padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

.active-frame{
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: -4%; 
  border: 30px solid transparent;
  border-image-source: url(../images/cleanIcon.svg);
  border-image-slice: 40;
  border-image-repeat: round;
  width: 25%;
}

#parent{
  margin-top: -20px !important;
  margin-left: 3% !important;
}

.col-md-6{
  width: 0% !important;
}

input[type="file"] {
  display: none !important;
} 

.item-img{
  width: 40%;
  border: 1px solid #ccc;
  padding:15px 0;
  cursor: pointer;
  font-weight: 700; 
  border: 2px solid#0A5FAF;
  color: #0A5FAF;;
  padding: 15px;
  font-size: 22px;
  border-radius: 10px;
  text-decoration: none;
  margin-right: -300px;
}
.navbar {
  font-weight: 600;
   width: 100%;
} 
.social-btn{
  width: 40%;
  padding:15px 0;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid#0A5FAF;  
  color: #0A5FAF;
  background-color: #fff;
  padding: 15px;
  font-size: 22px;
  border-radius: 10px;
  text-decoration: none;
  margin-left: -300px;
  margin-bottom: 5px;
}

.item-img:hover, .social-btn:hover{

  color: #fff;
  background-color: #0A5FAF;
}

.footbtnchckout {
  background: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
padding:50px 0;
}

.footbtnchckout a
{
display: inline-block;
  font-weight: 700;
  font-size: 22px;
  background: #0A5FAF; 
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}
a{
   text-decoration: none;
}
a:focus, a:hover {
  color: #ffff !important;
  text-decoration: none !important;
}

.picsomepic{
  font-size: 3rem !important ;
}

.fa-gift{
  margin: -10px;
  padding-left: 9px
}
.chkout{
  display: none;
  /* margin-left: 480px;  */
  margin-left: 43%; 
}

.social-img{
  border: 1px solid #ccc;
  padding:15px 0;
  cursor: pointer;
  font-weight: 700;
  background: #0A5FAF; 
  color: #fff;
  padding: 15px;
  font-size: 22px;
  border-radius: 10px;
  text-decoration: none;
  margin-left: -300px;
}

/* remove img frame */
.remove-image {
  position: relative;
  display: none;
  top: -120px;
  right: 35px;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 21px/20px sans-serif;
  background: #555;
  border: 3px solid #fff;
  color: #FFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
  }
  .remove-image:hover {
   background: #E54E4E;
    padding: 3px 7px 5px;
  }
  .remove-image:active {
   background: red;
  }

@media (max-width: 1201px) { 
  .active-frame{
    width: 25%;
  }
  .footbtnchckout {
    height: 130px;;
  }
  .footbtnchckout a{
    font-weight: 600;
    font-size: 20px;
    padding: 14px;
    border-radius: 8px;
  }

  #parent{
    margin-top: -20px !important;
    margin-left: 4.5rem !important;
  } 
}

/* ipad pro */
@media(max-width: 1025px){
  body{
    /* background-color: #0A5FAF; */
    overflow: hidden;
    overflow-x: hidden;
  }
  .navbar {
    font-weight: 600;
     width: 100%;
  } 
  .active-frame{
    width: 24.4% !important;
  }
  .footbtnchckout {
    height: 130px;;
  }
  .footbtnchckout a{
    font-weight: 600;
    font-size: 20px;
    padding: 14px;
    border-radius: 8px;
  }
  #parent{
    margin-top: 0 !important;
    margin-left: 5rem !important;   
  }
  .remove-image {
 
    top: -100px;
    right: 36px;
    border-radius: 10rem;
    padding-right: 0.34rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font: 600 19px/19px sans-serif;
    background: rgb(105, 105, 105);
    border: 2px solid #fff;
    }
    .item-img{
      width: 50%;
      border: 2px solid #ccc;
      padding:10px 0;
      font-weight: 600; 
     
      margin-right: -170px;
    }
    .social-btn{
      width: 50%;
      padding:10px 0;
      font-weight: 600;
    
      margin-left: -200px;
    }
    .social-btns{
      width: 100% ;
    
    }
    .popup{
      width: 40rem !important;
    }
}
  
/* tablet  iPAd Air*/
@media(max-width : 769px){
  .navbar{
    height: 12rem;
  }
  .active-frame{
    width: 27rem !important;
    margin-left: 3rem;
    margin-top: 0rem !important; 
    margin-bottom: 10rem !important; 
  }
 .footbtnchckout{
   height: 7rem !important;
 }
 .chkout{
   margin-top: -3.4rem;
   margin-left: 28rem !important; 
 }
 body{
   height: 100vh !important;
   overflow: scroll;
 }
 .navbar{
  width: 103.5% ;
 }
 .remove-image {
 
  top: -17.1rem;
  right: 4rem;
  border-radius: 10rem;
  padding : 0.4rem 0.8rem;
  
  }
  .item-img{
    width: 60%;
    border: 2px solid #0A5FAF;
    padding:10px 0;
    font-weight: 600; 
    margin-top: -40rem !important;
   /* margin-bottom: -10rem !important; */
    margin-right: -9rem;
  }
  .social-btn{
    width: 60%;
    padding:10px 0;
    font-weight: 600;
  margin-top: -20rem;
    margin-left: -20rem;
    margin-right: -5rem;
  }
  .bottomButtons  {
    margin-bottom: 300rem !important;
  }
  .social-btns{
    padding: -10rem;
  }
  #parent{
    margin-top: 0 !important;
    margin-left:2rem !important;   
  }
}

/* ipad mini & galaxy tablet */
@media(max-width: 500px){
  
  .picsomepic{
    font-size:26px !important;
  }
  .item-img{
    width: 155px !important;
    border: 1px solid #0A5FAF;
    padding:10px 3px;
    font-size: 16px;
    font-weight: 200; 
    /* margin-top: -rem !important; */
    /* margin-right: -9rem; */
  }
  .social-btn{
    width: 155px !important;
    border: 1px solid #0A5FAF;
    padding:10px 3px;
    font-size: 16px;
    font-weight: 200; 
    margin-top: -10rem !important;
    margin-right: -15rem;
  }
  label{
    max-width: 200px;
    position: relative;
    left:-60px !important;
  }
  .active-frame{
    width: 27rem !important;
    margin-left: 6rem;
    margin-top: -5rem !important; 
    margin-bottom: 5rem !important; 
  }
  .chkout{
    margin-right: -600px !important;
    margin-left: 16rem !important;
  }
  .chkout a{
    width: 155px !important;
    border: 1px solid #0A5FAF;
    padding:10px 3px;
    font-size: 16px;
    font-weight: 200; 
  }
}

/* //iphone 5 */
@media(max-width: 375px){

  .picsomepic{
    font-size:20px !important;
  }
  .navbar{
    height: 9rem;
  }
  .navbar h1{
    padding-top: 1rem;
  }
  .active-frame{
    width: 23rem !important;
    margin-left: -1.5rem;
    margin-top: -12.5rem !important; 
    margin-bottom: 17rem !important; 

  }
  .item-img{
    width: 270px !important;
    border: 1px solid #0A5FAF;
    padding:10px 3px;
    font-size: 16px;
    font-weight: 200; 
    margin-top: -67rem !important;
    margin-bottom: 3rem !important;
    margin-right: 10rem !important;
  }
  .social-btn{
    width: 270px !important;
    border: 1px solid #0A5FAF;
    padding:10px 3px;
    font-size: 16px;
    font-weight: 200; 
    margin-top: -24rem !important;
    margin-bottom: 0rem !important;
    margin-right: 8rem !important;
  }
  label{
    max-width: 300px;
    position: relative;
    left:-55px !important;
  }
  .chkout{
    margin-top: -3.4rem;
    margin-left: 9.3rem !important; 
  }
  .remove-image {
 
    top: -39.3rem;
    right: -18rem;
    border-radius: 10rem;
    padding : 0.4rem 0.8rem;
    
    }

}


html, body{
  height: 100%;
}
body { 
			background-image: url(/images/topbanner.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  
}

div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
  
}
.wrapper {
  height: 100%; 
  width: 100%; 
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; 
  height:45%;
  bottom: 0; 
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 0.5em;
}

